kook_key = 'XXXXXXXX' # Webhook mode with encrpytion
verify_token = 'XXXXXXXXXX' # Webhook mode
token = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX' # Websocket mode
super_admin = ['Username#0000'] # List of sudo users